In [1]:
# importacion de numpy y typing
import numpy as np
import pandas as pd
from typing import Tuple

In [11]:
# traer info de la api 
df = pd.read_csv('datos.csv')

print(df)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]

In [12]:
# Verificacion de datos

print(df.dtypes)

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [37]:
def limpieza (df: pd.DataFrame):
    cant =len(df.columns)
    lista = df.columns.tolist()
    x = 0
    for x in  range(cant):
        tipo = df[f'{lista[x]}'].dtype
        if tipo != 'bool':
            if tipo != 'str':
                med = df[f'{lista[x]}'].median()
                df[f'{lista[x]}'].fillna(med, inplace=True)
        x += 1
    df_dupli = df.drop_duplicates()
    x = 0
    for x in  range(cant):
        tipo = df_dupli[f'{lista[x]}'].dtype
        if tipo != 'bool':
            if tipo != 'str':
                    Q1 = df_dupli[f'{lista[x]}'].quantile(0.25)
                    Q3 = df_dupli[f'{lista[x]}'].quantile(0.75)
                    IQR = Q3 - Q1
                    lower_bound = Q1 - 1.5 * IQR
                    upper_bound = Q3 + 1.5 * IQR
                    df_cleaned = df_dupli[(df_dupli[f'{lista[x]}'] >= lower_bound) & (df_dupli[f'{lista[x]}'] <= upper_bound)]
    bins = [0, 13, 20, 40, 60, df['age'].max()]
    labels = ['Niño', 'Adolescente', 'Jóvenes adulto', 'Adulto', 'Adulto mayor']
    df_cleaned['categoria_edad'] = pd.cut(df_dupli['age'], bins=bins, labels=labels)
    df_cleaned.to_csv('registros_limpios.csv', index=False)
    return df_cleaned

In [38]:
print(limpieza(df))

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT categoria_edad
0          0     4            1   Adulto mayor
1          0     6            1         Adulto
2          1     7            1   Adulto mayor
3          0     7            1         Adulto
4          0     8            1   Adulto mayor
..       ...   ...          ...            ...
294        1   270            0   Adulto mayor
295        0   271            0         Adulto
296        0   278            0         Adulto
297        1   280            0         Adulto
298        1   285            0         Adulto

[299 rows x 14 columns]